<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" />
    <title>Welcome to Ryanbucks!</title>
</head>

<body>
    <form action="/ryancf/<%=coffee._id%>?_method=PUT" method="POST">

        <input type="text" name="name" placeholder="name" value="<%=coffee.name%>">
        <br>
        <input type="text" name="img" placeholder="img" value="<%=coffee.img%>">
        <br>
        <input type="text" name="price" placeholder="price" value="<%=coffee.price%>">
        <br>
        <input type="text" name="description" placeholder="description" value="<%=coffee.description%>">
        <br>
        <input type="text" name="qty" placeholder="qty" value="<%=coffee.qty%>">
        <br>
        <input type="submit" name="" value="update">
    </form>
</body>

</html>