<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee list</title>
</head>
<body>
    <nav>
        <a href="/ryancf/new">Add a Coffee</a>
    </nav>
    <h1>Coffee Index Page</h1>
    <ul>
        <% coffee.forEach( coffee => { %>
			
            <li>
                
                <a href="/ryancf/<%=coffee._id %>"> <%=coffee.name; %> </a>
               
            </li>
            <a href="/ryancf/<%=coffee._id %>">  <img src="<%=coffee.img %> " alt=""></a>
            <br>
            <a href="/ryancf/<%=coffee._id%>/edit"> <button id="editindex">Edit</button></a>
            <form action="/ryancf/<%=coffee._id; %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" id="deleteindex"/>
            </form>
                        <% }) %>
                    </ul>
</body>
</html>